@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Source+Sans+Pro&display=swap');


/*--------------------------------------------HEAD AND NAV*/
.logo {
    font-family: 'cinzel', sans-serif;
    font-size: 50px;
}

.cities {
    font-family: "cinzel", sans-serif;
    color: rgb(22, 109, 105);
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 25px;

}

.nav-item {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 0px;
}

.navbar {
    text-align: center;
    line-height: 50px;
}

.big-image {

    background-image: url("../images/portugal.png");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;

}

.big-imagePorto {

    background-image: url("../images/porto.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;

}

.big-imageLisboa {

    background-image: url("../images/lisboa.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;

}

.big-imageAlgarve {

    background-image: url("../images/Algarve.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;

}

.big-imageMadeira {

    background-image: url("../images/madeira.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;

}

/*--------------------------------------------HEADINGS AND TEXT*/

.title {

    font-size: 80px;
    text-align: center;
    font-family: "cinzel", sans-serif;
    color: rgb(22, 109, 105);
    margin-bottom: 50px;

}

h2 {
    font-size: 25px;
    text-align: center;
    font-family: "cinzel", sans-serif;
    color: rgb(22, 109, 105);
    margin-bottom: 30px;
    margin-left: 10px;

}

.main-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 10px 80px;
}

/*--------------------------------------------footer*/


footer h2 {
    color: white;
    padding: 0;
    margin: 0;

}

footer p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin: 0;

}

footer {
    text-align: center;
    background-color: rgb(22, 109, 105);
    color: white;
    padding: 20px;
    margin-top: 20px;

}

div #map {
    min-height: 360px;
    width: 90%;
    margin: 0 10px;
}